<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="icon" type="image/png" href="/templates/images/logo.png">
    <link rel="stylesheet" href="/assets/css/error.css">
</head>
<body>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div id="conteiner">
    <img class="logo" type="image/png" src="/templates/images/logo2.png">
    <div class="wrap-404">
        <h1>404</h1>
    </div>
    <h3>Página <span>não encontrada</span>.</h3>
    <p>A página que você procura pode ter sido removida,
       estar com nome incorreto ou não estar mais disponível.
    </p>
    <a href="/index.html">
        <i class="fa-solid fa-arrow-left-long"></i>
        <span class="txt-btn">Voltar à página inicial</span>
    </a>
</div>
    

    
</body>
</html>