<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RN | Serviços</title>
    <link rel="stylesheet" href="/assets/css/service.css">
    <link rel="icon" href="/templates/images/logo.png">
</head>
<body>
<div>

</div>
<!-- LINLK DA fONTE MONTSERRAT-->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="fix-conteiner">

    <div class="cont-logo">
        <img class="logo" src="/templates/images/logo.png"></img>
        <a class="logo-desc" href="/index.html#conteiner2">RN Barbearia</a>
    </div>

    <div class="topicos">
        <a id="inicio" href="#cortes">Cortes</a>
        <a id="servicos" href="#barba">Barbas</a>
        <a id="locais" href="#sobrancelha">Sobrancelhas</a>
        <a id="sobre" href="#freestyle">Freestyle</a>
        <a id="contato" href="#platinado">Platinado</a>
    </div>

    <button>
        <span class="contact-txt">Marcar Horário</span>
    </button>

    <button id="menu-toggle" class="menu-toggle">
        <i class="fa-solid fa-bars"></i>
    </button>


    <div id="menu-mobile">
        <a href="#cortes">Cortes</a>
        <a href="#barba">Barba</a>
        <a href="#sobrancelha">Sobrancelhas</a>
        <a href="#freestyle">Freestyle</a>
        <a href="#platinado">Platinado</a>
    </div>
</div>

<div id="overlay"></div>
<div id="div-marc">
    <div class="x-btn">
        <h2>Marque seu horario</h2>
        <i class="fa-solid fa-x"></i>
    </div>
    <p>Preencha os dados e confirme — o agendamento segue<br> direto pelo WhatsApp.</p>
    <div class="div-input">
        <div class="input-name">
            <label>Nome</label>
            <input id="nome" placeholder="Seu nome">
        </div>
        <div class="input-tel">
            <label>Telefone</label>
            <input id="telefone" placeholder="(15) 99999-9999">
        </div>
    </div>

    <div class="div-select">
        <label>Serviço Desejado</label>
        <select id="Servico">
            <option value="" selected disabled>Selecione um serviço</option>

            <option>Somente o Bigode (R$ 25.00)</option>
            <option>Sobrancelhas (R$ 25,00)</option>
            <option>Selagem Capilar (A partir de R$100,00)</option>
            <option>Relaxamento (A partir de R$70,00)</option>
            <option>Progressiva (A partir de R$100,00)</option>
            <option>Platinado (A partir de R$200,00)</option>
            <option>Pigmentação do Cabelo (A partir de R$50,00)</option>
            <option>Pigmentação da Barba (A partir de R$50,00)</option>
            <option>Luzes (A partir de R$150,00)</option>
            <option>Limpeza de Pele (R$50,00)</option>
            <option>Lavagem e Finalização do Cabelo (R$5,00)</option>
            <option>Hidratação (A partir de R$30,00)</option>
            <option>Freestyle (A partir de R$10,00)</option>
            <option>Depilação de Nariz (R$20,00)</option>
            <option>Depilação de Orelha (R$20,00)</option>
            <option>Corte Raspado (R$45,00)</option>
            <option>Corte na Tesoura (R$65,00)</option>
            <option>Corta Mike (R$45,00)</option>
            <option>Corte Infantil Somente na Tesoura (R$65,00)</option>
            <option>Corte Infantil (R$55,00)</option>
            <option>Corte de Cabelo (R$50,00)</option>
            <option>Cor Fantasia (R$10,00)</option>
            <option>Barboterapia (R$65,00)</option>
            <option>Barba Express (R$30,00)</option>
            <option>Barba (R$50,00)</option>
            <option>Aparar pelo Sobrancelha (R$10,00)</option>
            <option>Aparar pelos do Nariz (R$10,00)</option>
            <option>Acabamento (R$25,00)</option>
        </select>
    </div>

    <div class="div-time">
        <div class="div-data">
            <label>Data</label>
            <input id="data" type="text" inputmode="numeric" maxlength="10" placeholder="dd/mm/aaaa">
        </div>
        <div class="div-horario">
            <label>Horário</label>
            <input id="horario" type="text" inputmode="numeric" maxlength="5" placeholder="hh:mm">
        </div>
    </div>

    <a class="confirm-btn" id="confirmar">
        <span>Confirmar com Whatsapp</span>
    </a>
</div>

<a class="wpp-fixed" href="https://wa.me/5515998197611" target="_blank">
    <i  class="fa-brands fa-whatsapp"></i>
</a>

<div id="cortes">
    <h1><span>1.</span> Cortes</h1>
    <p>Encontre o corte ideal para o seu estilo. Trabalhamos com cortes clássicos, modernos e personalizados,<br>
    sempre buscando valorizar sua aparência e proporcionar um acabamento impecável. Nossa equipe<br>
    cuida de cada detalhe para garantir um resultado que combine com você.</p>
    <div class="div-corte">
        <div class="img-cortes1"></div>
        <div class="img-cortes2"></div>
        <div class="img-cortes3"></div>
        <div class="img-cortes4"></div>
        <div class="img-cortes5"></div>
        <div class="img-cortes6"></div>
        <div class="img-cortes7"></div>
        <div class="img-cortes8"></div>
        <div class="img-cortes9"></div>
        <div class="img-cortes10"></div>
        <div class="img-cortes11"></div>
        <div class="img-cortes12"></div>
    </div>
</div>

<div id="barba">
    <h1><span>2.</span> Barbas</h1>
    <p>Cuide da sua barba com estilo e precisão. Oferecemos modelagem, aparo e acabamentos personalizados,<br>
    valorizando o formato do rosto e mantendo a barba bem cuidada. Cada detalhe é pensado para garantir um<br>
    visual alinhado, elegante e de acordo com o seu estilo.</p>
    <div class="div-barba">
        <div class="img-barba1"></div>
        <div class="img-barba2"></div>
        <div class="img-barba3"></div>
        <div class="img-barba4"></div>
        <div class="img-barba5"></div>
        <div class="img-barba6"></div>
        <div class="img-barba7"></div>
    </div>
</div>

<div id="sobrancelha">
    <h1><span>3.</span> Sobrancelhas</h1>
    <p>Cuide da sua barba com estilo e precisão. Oferecemos modelagem, aparo e acabamentos personalizados,<br>
    valorizando o formato do rosto e mantendo a barba bem cuidada. Cada detalhe é pensado para garantir um<br>
    visual alinhado, elegante e de acordo com o seu estilo.</p>
    <div class="div-sobrancelha">
        <div class="img-sobrancelha1"></div>
        <div class="img-sobrancelha2"></div>
        <div class="img-sobrancelha3"></div>
        <div class="img-sobrancelha4"></div>
    </div>
</div>

<div id="freestyle">
    <h1><span>4.</span> Freestyle</h1>
    <p>Encontre o corte ideal para o seu estilo. Trabalhamos com cortes clássicos, modernos e personalizados,<br>
    sempre buscando valorizar sua aparência e proporcionar um acabamento impecável. Nossa equipe<br>
    cuida de cada detalhe para garantir um resultado que combine com você.</p>
    <div class="div-freestyle">
        <div class="img-freestyle1"></div>
        <div class="img-freestyle2"></div>
        <div class="img-freestyle3"></div>
        <div class="img-freestyle4"></div>
        <div class="img-freestyle5"></div>
        <div class="img-freestyle6"></div>
        <div class="img-freestyle7"></div>
        <div class="img-freestyle8"></div>
        <div class="img-freestyle9"></div>
        <div class="img-freestyle10"></div>
        <div class="img-freestyle11"></div>
        <div class="img-freestyle12"></div>
    </div>
</div>


<div id="platinado">
    <h1><span>5.</span> Platinado</h1>
    <p>Cuide da sua barba com estilo e precisão. Oferecemos modelagem, aparo e acabamentos personalizados,<br>
    valorizando o formato do rosto e mantendo a barba bem cuidada. Cada detalhe é pensado para garantir um<br>
    visual alinhado, elegante e de acordo com o seu estilo.</p>
    <div class="div-platinado">
        <div class="img-platinado1"></div>
        <div class="img-platinado2"></div>
        <div class="img-platinado3"></div>
    </div>
</div>

<div id="mais">
    <div>
        <h1>Gostou dos serviços? <span class="marc">Marque seu horario</span>!</h1>
        <p>Segue nossas plataformas para reservar seu serviço.<br>
        <span class="junte">Junte-se à nós</span>!</p>
    </div>

    <div class="botoes">
        <div>
            <button class="marc-btn">
                <span class="marc-txt">Marcar Horário</span>
            </button>
        </div>

        <div class="social-div">
            <a class="wpp-btn" href="https://wa.me/5515998197611" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
                <span class="wpp-txt">WhatsApp</span>
            </a>

            <a class="insta-btn" href="https://www.instagram.com/rnbarbeariaoficial/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
                <span class="insta-txt">Instagram</span>
            </a>
        </div>
    </div>
</div>



<script src="/assets/js/service.js"></script>
</body>
</html>